h1, h2, h3 {
    // definições default da página
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}

p {
    // definições default da página
    margin: 0;
}

a, a:visited, a:active {
    // definições default da página
    text-decoration: none;
}